<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850220892773-2k211v9ih2i5qjpmqnf9oucromafk7h5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850220892773-2k211v9ih2i5qjpmqnf9oucromafk7h5</string>
	<key>API_KEY</key>
	<string>AIzaSyB0luhUWdHVYqN44rniH7iVI1FPRcR-36c</string>
	<key>GCM_SENDER_ID</key>
	<string>850220892773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.team.messengerClone</string>
	<key>PROJECT_ID</key>
	<string>messengerclone-37be7</string>
	<key>STORAGE_BUCKET</key>
	<string>messengerclone-37be7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850220892773:ios:28b661ef16945b1f553c8c</string>
</dict>
</plist>